 body{
    font-family: Arial, Helvetica, sans-serif;
 }
 h1{
    text-align: center;
}
main{
    display: flex;
    gap: 100px;
    padding-top: 3%;
}
header{
    border-top: 1px solid ;
    text-align: center;
    font-size: 20px;
}
#left{
    width: 300px;
    height: 100%;
    padding-left: 50px;
    margin-left: 100px;
}
ul li{
    padding: 8px;
}
img{
    height: 20px;
}

#con>div{
    display: flex;
    padding-left: 20px;
    padding-bottom: 10px;
    gap: 10px;  
}
a{
    color: black;
}
#right{
    border-left: 2px solid;
    width: 100%;
    margin-left: 10px;

}
#right>div{
    padding-left: 5%;
}
    